{% assign page_class_section = request.path | handleize | split: '/' | last %}
<div class="page-section {{page_class_section}}">
    {% section 'page-black-friday' %}
    <div class="review-section-page">
        {% section 'testimonials-grid-blackfriday' %}
    </div>
    {% section 'image-with-text-column-v2-blackfriday' %}
</div>
