{% assign page_class_section = request.path | handleize | split: '/' | last %}
<div class="page-section {{page_class_section}}">
    {% section 'page-sections-template-whythecan' %}
    <div class="review-section-page">
        {% section 'testimonials-grid-whythecan' %}
    </div>
    {% section 'image-with-text-column-v2-whythecan' %}
</div>