{% section 'product-template-handywash' %}
{% section 'product-sections-handywash' %}
{% section 'product-review' %}
{% section 'product-recommendations' %}

{%- if collection -%}
  <div class="text-center">
    <a href="{{ collection.url }}" class="btn btn--tertiary">
      &xlarr; {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{%- endif -%}
 